* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  position: relative;
  width: 314px;
  font-size: 18px;
  font-weight: 700;
  height: 64px;
  line-height: 1;
  min-height: 10px;
  text-transform: uppercase;
  color: #fff;
  background: #542749;
  cursor: pointer;
  border: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: 992px) {
  .container {
    width: 970px;

  }
}