.date {
  width: 300px;
  margin: 0 0 36px 70px;
  color: $color-second;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.date__day {
  display: block;
  font-size: 83px;
  line-height: 83px;
  font-weight: 700;
  letter-spacing: -5px;
  float: left;
  margin-right: 10px;
}

.date__month {
  display: block;
  font-size: 26px;
  line-height: 30px;
  font-weight: 800;
  padding-top: 10px;
}

.date__time {
  display: block;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}
