.header {
  display: flex;
  padding: 30px 0 25px 64px;
  justify-content: space-between;
}

.header__logotype {
  padding-top: 13px;
}

.header__contact {
  display: flex;
  max-width: 400px;
  min-height: 86px;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__link {
  position: relative;
  display: block;
  padding-left: 21px;
  color: $color-second;
  font-size: 18px;
  font-weight: 600;

  &:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: '';
    width: 12px;
    height: 11px;
    background: url("../img/css_sprites.png") -239px -205px no-repeat;
  }

  &--phone {
    text-decoration: none;
    &:before {
      width: 15px;
      height: 15px;
      background: url("../img/css_sprites.png") -259px -155px no-repeat;
    }
  }

  &--address {
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;

    &:before {
      top: 5px;
      transform: translateY(0);
      width: 16px;
      height: 11px;
      background: url("../img/css_sprites.png") -203px -205px no-repeat;
    }
    & span {
      display: block;
      padding: 0;
      font-size: 18px;
      font-weight: 700;
      color: $color-main;
    }
  }
}

@media (max-width: 975px) {
  .header{
    padding: 0;
    flex-direction: column;
  }
}