.intensive {
  position: relative;
  display: flex;

  &:after {
    position: absolute;
    content: "";
    width: 369px;
    height: 100%;
    right: 100%;
    transform: translateX(10px);
    background-color: #dfdbe6;
  }

  &:before {
    position: absolute;
    content: "";
    width: 371px;
    height: 100%;
    left: 100%;
    transform: translateX(-10px);
    background-color: #f3ebf5;
    z-index: -1;
  }
}

.intensive__image-wrapper {
  background-color: #dfdbe6;
  position: relative;
  width: 270px;
}

.intensive__speakers-image {
  z-index: 2;
  position: absolute;
  bottom: -22px;
  right: 30px;
}

.intensive__inner-wrapper {
  max-width: 911px;
  padding: 45px 0 34px 37px;
  background: #f3ebf5;
}

.intensive__header {
  margin: 0;
  margin-bottom: 31px;
  max-width: 680px;
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: $color-main;

  & span {
    display: block;
    margin-top: 10px;
    font-size: 28px;
    line-height: 30px;
    font-weight: normal;
  }
}

.intensive__description {
  margin: 0;
  margin-bottom: 33px;
  max-width: 630px;
  font-size: 18px;
  line-height: 25px;
  color: $color-main;
}

.intensive__dates-list {
  width: 880px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  padding-top: 14px;
  border-top: 1px solid $color-second;
  list-style: none;
}

.intensive__date {
  @extend .date;
  margin: 0;
  width: 250px;
}

.intensive__day {
  @extend .date__day;
  margin-right: 21px;
}

.intensive__month {
  @extend  .date__month;
}

.intensive__time {
  @extend .date__time;
}

.intensive__info {
  display: flex;
}

.intensive__button {
  @extend .button;
  margin: 0;
  margin-right: 52px;
  width: 271px;
  color: $color-main;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid $color-main;
}

.intensive__info-text {
  margin: 0;
  width: 369px;
  font-size: 16px;
  line-height: 20px;
  color: $color-main;
}

.intensive__phone {
  font-weight: bold;
  color: $color-main;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .intensive:after, .intensive:before, .intensive__image-wrapper {
    display: none;
  }
}

@media (max-width: 975px) {

  .intensive__inner-wrapper {
    max-width: 100%;
    width: 100%;
  }

  .intensive__dates-list {
    flex-direction: column;
  }

  .intensive__info {
    flex-direction: column;
  }

  .intensive__button {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 300px;
  }
}

@media (max-width: 570px) {
  .intensive__button {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .intensive__info-text {
    width: auto;
  }
}