.intro__header {
  margin: 0;
  font-size: 109px;
  font-weight: 800;
  line-height: 93px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: $color-main;

  & span {
    display: block;
    font-size: 44px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 3px;
  }
}

.intro__video-link {
  width: 118px;
  height: 118px;
  margin: 20px 70px;
  display: inline-block;
  cursor: pointer;
  background: url("../img/video-link.png") no-repeat 0 0;
}

@media (max-width: 975px) {
  .intro__header {
    align-self: center;
    font-size: 65px;
    line-height: 60px;
  }
}
